.App{
  font-family: Urbanist;
}

/* apply custom fonts */
@font-face {
  font-family: 'Urbanist-Regular';
  src: url('../public/Urbanist/Urbanist-Regular.ttf');
}
@font-face {
  font-family: 'Urbanist-Medium';
  src: url('../public/Urbanist/Urbanist-Medium.ttf');
}
@font-face {
  font-family: 'Urbanist-semiBold';
  src: url('../public/Urbanist/Urbanist-SemiBold.ttf');
}
@font-face {
  font-family: 'Urbanist-Bold';
  src: url('../public/Urbanist/Urbanist-Bold.ttf');
}
@font-face {
  font-family: 'Urbanist-Black';
  src: url('../public/Urbanist/Urbanist-Black.ttf');
}

